@charset "UTF-8";
/* цвет текста (абзацов) #757575 */
/* цвет заголовков #212121; */
/* подложка background: #2F303A; */
/* основной цвет фона background: #E5E5E5 */
/* цвет оформления (голубой) #2196F3; */
/* белый цвет #FFFFFF; */
/* фвет фона кнопок #F5F4FA; */
/* цвет адреса в футере затенённый color: rgba(255, 255, 255, 0.6); */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*,
*:hover,
*:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
}

body {
  /* color */
  background-color: #ffffff;
  /* text */
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.container {
  border: 1px solid red;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-titule {
  /* color */
  color: #212121;
  /* text */
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 30px;
}

.team-titule .section-titule {
  padding-bottom: 50px;
  /* position */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .client-titule .section-titule {
    padding-bottom: 50px;
  }
}

.example-titule .section-titule {
  padding-bottom: 50px;
}

/* ================header========================= */
.header {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

/* ================logo=========================== */
.logo {
  /* position */
  /* color */
  color: #2196f3;
  /* text */
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .studio {
  color: #212121;
}

/* ================navigate=========================== */
.site-nav {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  /* color */
  color: #212121;
  /* text */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  position: relative;
  color: #2196f3;
}

.site-nav .link.current::after {
  position: absolute;
  content: "";
  bottom: 0;
  transform: translateY(30px);
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/* ==================contacts========================= */
.address-header {
  margin-left: auto;
}

.icon-mail,
.icon-phone {
  fill: #757575;
  margin-right: 10px;
}

.contact {
  color: #757575;
  /* text */
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact:not(:last-child) {
  margin-right: 50px;
}

.contact:hover, .contact:active, .contact:focus {
  color: #2196f3;
}

.contact:hover .icon-mail,
.contact:hover .icon-phone,
.contact:focus .icon-mail,
.contact:focus .icon-phone {
  fill: #2196f3;
}

.hero-titule {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  /* color */
  color: #ffffff;
  /* text */
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 198px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 768px), screen and (min-resolution: 192dpi) and (max-width: 768px), screen and (min-resolution: 2dppx) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 198px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-titule {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/hero-bg-desktop@2x.jpg");
  }
}

.main-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* text */
  font-family: Roboto, sans-serif;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.features-list {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  /* features text */
}

.features-list .titule {
  margin-bottom: 10px;
  /* color */
  color: #212121;
  /* text */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.features-list .text {
  /* position */
  min-height: 50px;
  /* text */
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .features-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .features-list .item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    padding-top: 90px;
    padding-bottom: 94px;
    margin-right: -30px;
  }
  .features-list .item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

/* antena */
.icon-antena::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url("../images/icon/antenna.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

/* clock */
.icon-clock::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url("../images/icon/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

/* diagram */
.icon-diagram::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url("../images/icon/diagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

/* astronaut */
.icon-astronaut::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url("../images/icon/astronaut.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

@media screen and (max-width: 1199px) {
  .example-titule {
    display: none;
  }
}

.workexample-content {
  /* position */
  position: absolute;
  right: 0;
  bottom: 0;
  /* text */
  text-align: center;
  padding-top: 27px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.workexample-content-box {
  position: relative;
}

.example-titule {
  padding-bottom: 94px;
}

.example-titule .list {
  display: flex;
  justify-content: space-between;
}

.team-titule {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-titule .list {
  display: flex;
  justify-content: space-between;
}

.team-titule .titule {
  margin-bottom: 10px;
  /* color */
  color: #212121;
  /* text */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-titule .profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-list-content {
  padding-top: 30px;
  padding-left: 58px;
  padding-right: 58px;
  padding-bottom: 16px;
}

.team-list-card {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.client-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-list-link:hover {
  border-color: #2196f3;
}

.client-list-link:hover .client-list-icon {
  fill: #2196f3;
}

.client-list-icon {
  fill: #afb1b8;
}

.client-titule {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .client-list-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .client-list-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .client-list-item {
    flex-basis: calc(100% / 6 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .client-titule {
    padding-bottom: 94px;
  }
}

.footer {
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
}

.footer .address {
  padding-top: 20px;
  padding-bottom: 9px;
  /* color */
  color: #ffffff;
  /* text */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-logo {
  display: block;
  margin-top: 60px;
}

.footer-logo-studio {
  color: #ffffff;
}

.mail-list .list-item:not(:last-child) {
  padding-bottom: 9px;
}

.mail-footer {
  /* color */
  color: rgba(255, 255, 255, 0.6);
  /* text */
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.mail-footer:hover, .mail-footer:active, .mail-footer:focus {
  color: #2196f3;
}

.footer-social-list {
  display: flex;
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-social-list {
    margin-left: 70px;
  }
}

.footer-social-list-titule {
  display: flex;
  justify-content: start;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-social-list-titule {
    margin-left: 70px;
    margin-top: 72px;
  }
  .footer-sign-input .footer-social-list-titule {
    margin-left: 93px;
  }
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-link:hover {
  background-color: #2196f3;
}

.footer-social-list-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-social-list-link:hover .footer-social-list-icon {
  fill: #ffffff;
}

/* ---------------footer-input-------------- */
.footer-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  resize: none;
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 380px;
  }
}

.footer-input input::placeholder {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:not(:placeholder-shown) {
  color: #ffffff;
}

.footer-input-position-box {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-input-position-box {
    display: flex;
    text-align: center;
    margin-left: 93px;
  }
}

.footer-sign-button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* text */
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .footer-sign-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sign-button {
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding: 14px 29px;
  }
}

.footer-sign-button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .join {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-sign-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 165px;
  }
  .footer .join {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-sign-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-titule {
  margin-bottom: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.backdrop.is-hidden .modal {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(0.8);
}

.close-modal-icon {
  width: 11px;
  height: 11px;
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-modal-button:hover {
  fill: #2196f3;
}

/* --------------modal-form----------------- */
.form-input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input-wrap input {
  margin: 0 0;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input-wrap label {
  margin-bottom: 4px;
  /* text */
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.coment-input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.coment-input-wrap label {
  margin-bottom: 4px;
  /* text */
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.coment-textarea {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.coment-textarea::placeholder {
  /* text */
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

.name-icon-wrap {
  position: relative;
  width: 30px;
}

.name-icon-wrap:focus-within {
  fill: #2196f3;
}

.name-icon-wrap .name-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
}

.phone-icon-wrap {
  position: relative;
  width: 30px;
}

.phone-icon-wrap:focus-within {
  fill: #2196f3;
}

.phone-icon-wrap .phone-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
}

.mail-icon-wrap {
  position: relative;
  width: 30px;
}

.mail-icon-wrap:focus-within {
  fill: #2196f3;
}

.mail-icon-wrap .mail-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 12px;
}

.mail-inpup:focus,
.tel-input:focus,
.name-input:focus,
.coment-textarea:focus {
  outline: none;
  border-color: #2196f3;
}

/* privat-pilicy */
.privat-policy-wrap {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.privat-policy-wrap .privat-policy-checkbox {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.privat-policy-wrap .privat-policy-link {
  color: #2196f3;
}

.privat-policy-input {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.privat-policy-input::before {
  content: " ";
  display: inline-block;
  text-align: left;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url("../images/icon/checkbox-empty-icon.svg");
}

.privat-policy-checkbox:checked + .privat-policy-input::before {
  background-image: url("../images/icon/checkbox-selector-icon.svg");
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.button-send-form {
  display: flex;
  align-items: center;
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* text */
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */