/* ================header========================= */
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

/* ================logo=========================== */

.logo {
  /* position */
  // margin-right: 93px;
  /* color */
  color: $accent-color;
  /* text */
  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.19;
  }
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  & .studio {
    color: $titule-text-color;
  }
}
/* ================navigate=========================== */

// ВЫЗОВ МОБИЛЬНОГО МЕНЮ
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 1px;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-button .icon-menu-close {
    display: none;
  }
  .menu-button.is-open .icon-menu-open {
    display: none;
  }
  .menu-button.is-open .icon-menu-close {
    display: block;
  }
  @media screen and (max-width: 767px) {
    .mobile-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $primary-bg-color;
      padding-bottom: 60px;
      z-index: 999;
      @media screen and (max-width: 767px) {
        & {
          display: none;
        }
      }
    }

    .mobile-menu.is-open {
      display: block;
    }
    .icon-button-use:hover,
    .icon-button-use:focus,
    .icon-button-use:active {
      fill: $accent-color;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.site-nav {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    margin-left: 76px;
    margin-right: 70px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: 305px;
  }
  &-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
  & .link {
    /* color */
    color: $titule-text-color;
    /* text */
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.16px;
    }
    font-weight: 500;
    font-size: 18px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    &.current {
      position: relative;
      color: $accent-color;
    }
    &.current::after {
      position: absolute;
      content: "";
      @media screen and (min-width: 768px) {
        bottom: -24px;
      }
      bottom: 0;
      transform: translateY(8px);
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}
/* ==================contacts========================= */
.address-header {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.icon-mail,
.icon-phone {
  fill: $primary-text-color;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
  margin-right: 10px;
}

.contact {
  color: $primary-text-color;
  /* text */
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.16px;
  }
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: block;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &:hover,
  &:active,
  &:focus {
    color: $accent-color;
  }
  &:hover .icon-mail,
  &:hover .icon-phone,
  &:focus .icon-mail,
  &:focus .icon-phone {
    fill: $accent-color;
  }
}
