/* ================header========================= */
.header {
  position: relative;
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}

/* ================logo=========================== */

.logo {
  /* position */
  // margin-right: 93px;
  /* color */
  color: $accent-color;
  /* text */
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  & .studio {
    color: $titule-text-color;
  }
}
/* ================navigate=========================== */

// ВЫЗОВ МОБИЛЬНОГО МЕНЮ
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 1px;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-button .icon-menu-close {
    display: none;
  }
  .menu-button.is-open .icon-menu-open {
    display: none;
  }
  .menu-button.is-open .icon-menu-close {
    display: block;
  }
  @media screen and (max-width: 767px) {
    .mobile-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $primary-bg-color;
      padding-bottom: 60px;
      @media screen and (max-width: 767px) {
        & {
          display: none;
        }
      }
    }
    .mobile-menu.is-open {
      display: block;
    }
    .icon-button-use:hover,
    .icon-button-use:focus,
    .icon-button-use:active {
      fill: $accent-color;
    }
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  &-item:not(:last-child) {
    margin-bottom: 40px;
  }
  & .link {
    /* color */
    color: $titule-text-color;
    /* text */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    &.current {
      position: relative;
      color: $accent-color;
    }
    &.current::after {
      position: absolute;
      content: "";
      bottom: 0;
      transform: translateY(8px);
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}
/* ==================contacts========================= */
.address-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.icon-mail,
.icon-phone {
  fill: $primary-text-color;
  margin-right: 10px;
}

.contact {
  color: $primary-text-color;
  /* text */
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &:hover,
  &:active,
  &:focus {
    color: $accent-color;
  }
  &:hover .icon-mail,
  &:hover .icon-phone,
  &:focus .icon-mail,
  &:focus .icon-phone {
    fill: $accent-color;
  }
}
