/* цвет текста (абзацов) #757575 */
/* цвет заголовков #212121; */
/* подложка background: #2F303A; */
/* основной цвет фона background: #E5E5E5 */
/* цвет оформления (голубой) #2196F3; */
/* белый цвет #FFFFFF; */
/* фвет фона кнопок #F5F4FA; */
/* цвет адреса в футере затенённый color: rgba(255, 255, 255, 0.6); */

$primary-text-color: #757575;
$titule-text-color: #212121;
$accent-color: #2196f3;
$white-text-color: #ffffff;
$primary-bg-color: #ffffff;
$button-bg-color: #f5f4fa;
$mail-footer-color-text: rgba(255, 255, 255, 0.6);
$background-dark-color: #2f303a;
$icon-bg-color: #afb1b8;
$icon-bg-footer-color: rgba(255, 255, 255, 0.1);
