*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*,
*:hover,
*:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
img {
  display: block;
  max-width: 100%;
}
body {
  /* color */
  background-color: $primary-bg-color;
  /* text */
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
button,
button:active,
button:focus {
  outline: none;
}
