.works-list {
  display: flex;
  flex-wrap: wrap;
  &-items:not(:last-child) {
    margin-bottom: 30px;
  }
  & .titule {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 4px;
    padding-left: 24px;
    /* color */
    color: $titule-text-color;
    /* text */
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  & .text {
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    /* color */
    color: $primary-text-color;
    /* text */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.85;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: -30px;
    &-items {
      flex-basis: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: -30px;
    &-items {
      flex-basis: calc(100% / 3 - 30px);
      margin-top: 30px;
      margin-right: 30px;
    }
  }

  &-items {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1200px) {
      &:nth-child(3n) {
        margin-right: 0px;
      }
    }

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .works-list-inside-content {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  &-content {
    border: 1px solid #eeeeee;
  }

  &-content-box {
    position: relative;
    overflow: hidden;
  }

  &-inside-content {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(100%);

    text-align: left;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    /* text */
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $white-text-color;
  }
}
